
#logo{
    grid-area: logo;
}
#logo > a > img{
    width: 350px;
    height: 118px;
}
#searchbar{
    grid-area: searchbar;
    margin: auto;
}
#search{
    width: 300px;
}
#menu{
    grid-area: menu;
    margin: auto;
}
#gallery{
    grid-area: gallery;
    margin: auto;
}
#order{
    grid-area: order;
    margin: auto;
}
.links {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo searchbar searchbar menu gallery order"
    "main main main main main main"
    "footer footer footer footer footer footer"
    ;
}