body{
    background-color: white;
}
.container{
    display: grid;
    border: 5px black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6,auto);
    
    grid-template-areas: 
    "logo logo header header"
    ". video video ."
    "spred rav rat zucc"
    "pizza las gno chee"
    ". can . . "
    "footer footer footer footer"
    ;

}

.video{
    grid-area: video;
    height: 17cm;
    width: 25cm;
    border: 5px black;
}
.chee{
    grid-area: chee;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.zucc{
    grid-area: zucc;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.logo{
    grid-area: logo;
}
.logo > img{
    height: 4cm;
    width: 12cm;
}
.spred{
    grid-area: spred;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.rav{
    grid-area: rav;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.rat{
    grid-area: rat;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.pizza{
    grid-area: pizza;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.las{
    grid-area: las;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.gno{
    grid-area: gno;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.can{
    grid-area: gno;
    height: 10cm;
    width: 15cm;
    border: 5px black;
}
.footer{
    grid-area: footer;
}
.header{
    grid-area: header;
}