.container{
    display: grid;
    border: 5px black;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6,auto);
    
    grid-template-areas: 
    "header header header header"

    "footer footer footer footer"
    ;

}
.orderform{
    background-color: white;
}

/* begin joseph's work */
html{
    background-color: #96578A;
}
#logo > a > img{
    width: 350px;
    height: 118px;
}
#searchbar{
    margin: auto;
}
#searchbar > form > fieldset{
    border: none;
}
#search{
    width: 600px;
}
#menu{
    margin: auto;
}
#menu>a:hover{
    color: white;
}
#gallery{
    margin: auto;
}
#gallery>a:hover{
    color: white;
}
#order{
    margin: auto;
}
#order>a:hover{
    color: white;
}
.links {
    text-decoration: none;
    color: #BCE2B1;
    font-size: xx-large;
}
#main{
    grid-area: main;
    background-color: white;
}
#footer{
    grid-area: footer;
    margin:auto;
}
#statement{
    color: black;
    font-size: 40px;
}
p{
    text-align: center;
    color: #BCE2B1;
}
#hr{
    margin: auto;
    width: 100%;
    background-color: #BCE2B1;
}
#fimg{
    width: 175px;
    height: 5900px;
}

.navbar{
    display: flex;
    background-color: #96578A;
    position: sticky;
    top: 0px;
}